body {
    background-image: linear-gradient(100deg, #001214, #001f29);
  }
  /* width */

.t{
    text-align: center;
    color:#ffdfdb;
    font-size:50px;
}
.set{
    height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius:35px;
}
.m{
    height:50px;
    width:150px;
    font-size:20px;
    border-radius: 10px;
    
}
.f{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size:20px;
    justify-content: center;
    display:flex;
    text-align: center;
    color: #ffdfdb;
    width:50%;
    margin:auto;
    font-family: monospace;
    padding:10px;
    border-color: aliceblue;
    border-style: solid;

}
.o{
    height:50px;
    width:150px;
    font-size:20px;
    border-radius: 10px;
}
.b{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pr{
    display: flex;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width: 760px) {
   
    .set{
        width: 100%;
        height: auto;
    }
    .t{
        text-align:center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .f{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .b{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text{
        display: flex;
        justify-content: center;
        width:80%;
        height:auto;
        text-align: center;
       
    }
    .m{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .o{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pr{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
  }